<?xml version="1.0" encoding="UTF-8"?>
<!-- <!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN" "http://www.springframework.org/dtd/spring-beans-4.3.dtd"> -->

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
           http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
           http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context-4.3.xsd">

	<!-- <bean id="triangle" class="org.gaurav.springtutorial.Triangle"> -->
	<!-- <bean id="triangle" class="org.gaurav.springtutorial.Triangle" autowire="byName"> -->
	<!-- <bean id="triangle" class="org.gaurav.springtutorial.Triangle" autowire="byType"> -->
	<!-- <bean id="triangle" class="org.gaurav.springtutorial.Triangle" autowire="constructor"> -->

	<!-- <property name="type" value="Equilateral" /> -->
	<!-- <constructor-arg value="Equilateral"/> -->

	<!-- <property name="pointA" ref="pointA" /> -->
	<!-- <property name="pointB" ref="pointB" /> -->
	<!-- <property name="pointC" ref="pointC" /> -->

	<!-- <property name="points"> <list> <ref bean="zeroPoint" /> <ref bean="point2" 
		/> <ref bean="point3" /> </list> </property> -->

	<!-- </bean> -->

	<bean id="center" class="org.gaurav.springtutorial.Point">
		<property name="x" value="0" />
		<property name="y" value="0" />
	</bean>

	<bean id="pointB" class="org.gaurav.springtutorial.Point">
		<property name="x" value="-20" />
		<property name="y" value="0" />
	</bean>

	<bean id="pointC" class="org.gaurav.springtutorial.Point">
		<property name="x" value="20" />
		<property name="y" value="0" />
	</bean>


	<!-- <bean id="circle" class="org.gaurav.springtutorial.Circle "> <property 
		name="center" ref="point3"/> </bean> -->

	<!-- <bean class="org.gaurav.springtutorial.DisplayNameBeanPostProcessor"/> -->
	<!-- <bean class="org.gaurav.springtutorial.MyBeanFactoryPP"/> -->

	<!-- <bean class="org.springframework.beans.factory.annotation.RequiredAnnotationBeanPostProcessor"/> 
		<bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer"> 
		<property name="locations" value="pointsconfig.properties"/> </bean> <bean 
		class="org.springframework.beans.factory.annotation.AutowiredAnnotationBeanPostProcessor"/> -->
	<context:annotation-config />
	<context:component-scan base-package="org.gaurav.springtutorial" />

</beans>

